<?xml version="1.0" encoding="UTF-8"?>
<tagFile formatVersion="1.0">
   <paging blocks_per_page="5" page_size="20.0" />
   <tagData>
      <tags>
         <tag channelNumber="-1" length="0.0" name="start" position="0.064430952072143555" />
         <tag channelNumber="-1" length="0.0" name="stop" position="4.0" />
         <tag channelNumber="-1" length="0.0" name="start" position="5.0" />
         <tag channelNumber="-1" length="0.0" name="stop" position="10.0" />
      </tags>
   </tagData>
</tagFile>